@model Infraestructura.Model.Evento

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Seguro quiere borrar este evento?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
