@model Infraestructura.Model.Evento

@{
    ViewBag.Title = "¿Seguro quiere borrar este evento?";
}

<style>

    .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .form-control {
        border-radius: 15px;
    }

    .form-horizontal .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }


    .input-group-text {
        cursor: pointer;
    }

    .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .time-input-group {
        display: flex;
        align-items: center;
    }

        .time-input-group .form-control-1 {
            margin-right: 95px;
        }
</style>
<h2 class="form-title">@ViewBag.Title</h2>
<div class="details-view">
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <dl class="centered-information text-center">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_Evento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_Evento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Evento)
            </dt>

            <dd>
                @String.Format("{0:dd/MMMM/yyyy hh:mmtt}", Model.Fecha_Evento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lugar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lugar)
            </dd>

        </dl>
        <div class=" button-group mt-5">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>