@model Infraestructura.Model.Evento

@{ ViewBag.Title = "Details"; }

<h2 class="centered-title">Detalles del Evento</h2>
<style>
    .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .regresar-link {
        margin-left: 710px;
        margin-top: -70px;
    }

    .editar-link {
        margin-left: 620px;
        background-color: #17a2b8;
        color: white;
        display: inline-block;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    input[type=submit] {
        background-color: #0069D9;
        color: white;
        margin-right: 5px;
        margin-bottom: -88px;
    }

    .time-input-group {
        display: flex;
        align-items: center;
    }

        .time-input-group .form-control-1 {
            margin-right: 95px;
        }

    .centered-information {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div>
    <hr />
    <dl class="centered-information">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </dt>

        <dd>
            @String.Format("{0:dd/MMMM/yyyy hh:mmtt}", Model.Fecha_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

    </dl>
</div>
<br />
<p>
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Evento }, new { @class = "btn btn-info editar-link" })
    </div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary regresar-link" })
</p>
