@model Infraestructura.Model.Evento

@{ ViewBag.Title = "Details"; }

<h2 class="centered-title">Detalles del Evento</h2>
<style>
    .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .form-control {
        border-radius: 15px;
    }

    .form-horizontal .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }


    .input-group-text {
        cursor: pointer;
    }

    .centered-title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .time-input-group {
        display: flex;
        align-items: center;
    }

        .time-input-group .form-control-1 {
            margin-right: 95px;
        }
</style>

<div>
    <hr />
    <dl class="centered-information text-center">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </dt>

        <dd>
            @String.Format("{0:dd/MMMM/yyyy hh:mmtt}", Model.Fecha_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

    </dl>
</div>
<br />
<p>

    <div class="button-group">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Evento }, new { @class = "btn btn-default" })
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary regresar-link" })
    </div>
   
</p>
