@model Infraestructura.Model.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Evento</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Evento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </dt>
        <dd>
            @Model.Fecha_Evento.ToString("dd/MMMM/yyyy hh:mm tt")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Evento }) |
    @Html.ActionLink("Regresar", "Index")
</p>
