@model IEnumerable<Infraestructura.Model.Evento>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center"> Eventos </h2>

<p>
    @Html.ActionLink("Crear evento nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Evento }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Evento }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID_Evento })
        </td>
    </tr>
}

</table>
